 @import url('https://fonts.googleapis.com/css?family=Quicksand');
 
 body {
	text-align: center;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p, a {
  padding: 0;
  margin: 0;
  color: #f96167;
  font-family: 'Quicksand', sans-serif;
}

button {
	background: none;
	border: none;
}

ul {
	font-family: 'Quicksand', sans-serif;
  padding: 0;
}

ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  padding: 0;
}

p, li {
	color: #2b3252;	
}

a:hover {
	color: red;
}

a, p, button {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	text-decoration: none;
}

.fa {
  color: #f96167;
  font-size: 16px;
}

.highlight {
	color: #f96167;
}

.container {  
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.profile {
	// border-bottom: 1px dashed grey;
	padding-bottom: 1rem;

	ul {
	  margin: 0.5rem 0 0 0;
	  padding: 0;
	  align-self: flex-end;
	}
}

.projects-nav {
	ul {
		li {
			cursor: pointer;
			padding: 3px 0;

			button {
				cursor: pointer;
				padding: 0;
				&.active {
					color: #f96167;
				}
			}

		}
	}
	
	.nav-bio {

		p {
			color: #f96167;			
		}

	// 	&.active {
	// 		border-radius: 10px;
	// 		background: #f96167;		
	// 		color: white;
	// 	}
	}
}

.project {
	min-height: 548px;
	border-radius: 10px;

	.project-name.hide {
		display: none;
	}

	.project-detail {
	  position: relative;
	}	

	.project-desc {
		line-height: 1.6;
		padding-bottom: 1rem;
	}

	img {
		width: auto;
		height: 250px;
		border-radius: 10px;
		margin-bottom: 1rem;
	}

	// ul li:last-child span {
	// 	display: none;
	// }

	 .skill {
		border-radius: 22px;
		font-weight: bold; 

		span {
			color: #f96167;
		}
	}

	.skill-item {
		font-size: 14px;
		display: inline;
	}

	.button-group a {
		margin-right: 10px;
	}

	.button-group button {
		border: none;
		background: #0000001a;
		color: #727272;
		padding: 7px;
		border-radius: 3px;
	}

	.bio {
		text-align: left;
		text-align: left;
		background: white;
		padding: 37px 0px;
		border-radius: 10px;

		.bio-skills {
			li {
				display: block;
			}
		}

		p {
			line-height: 1.6;
			margin-bottom: 1rem;
		}
	}
}


@media only screen and (min-width: 800px) {
	body {
		text-align: initial;
	}

	a, p, button {
		font-size: 17px;
	}
	.container {
		padding: 0 55px;
		height: 100vh;
	}

	.project {
		min-height: 400px;

		.bio {
			padding: 37px 0;
		}
	}

	.profile {
		.profile-info {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
		}
	}	

	.project {
		.project-name {
			display: flex;
			align-items: center;
		}  

		.project-detail {
			margin-left: 2rem;
			background: white;
			padding: 30px;
			border-radius: 10px;
			
		}
	}

	.projects-nav {
		
		ul {
			display: flex;
		}
	}	
}