@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');
 
$main: black;
$gold: #ad8305;
$text: #4d4d4d;

 body {
	text-align: center;
	color: $text;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	background: #ebeae5;
}

h1,h2,h3,h4,h5,h6,p, a {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

p {
	font-family: 'Lato', sans-serif;
}

a {
	color: $main;
	transition: 0.5s color;

	&:hover {
		color: $gold;	
	}
}

button {
	background: none;
	border: none;
	outline: none;
	color: $main;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
}

ul {
  padding: 0;
}

ul li {
  display: inline-block;
  list-style: none;
//   margin-right: 5px;
  margin-bottom: 3px;
  padding: 0;
}

a, p, button {
	text-decoration: none;
}

.fa {
  font-size: 16px;
  transition: 0.5s color;

  &:hover {
	  color: $gold;
  }
}

.highlight {
	color: $gold;
	font-weight: bold;
}

.container {  
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.profile {
	padding-bottom: 1rem;

	.profile-info {
		border-bottom: 1px solid gainsboro;
		padding-bottom: 10px;
	}

	ul {
	  margin: 0.5rem 0 0 0;
	  padding: 0;
	  align-self: flex-end;
	}

	li {
		margin-right: 10px;
	}
}

.projects-nav {
	p {
		font-family: 'Playfair Display', serif;
	}
	

	ul {
		li {
			cursor: pointer;
			padding: 3px 0;
			margin-right: 15px;

			button {
				cursor: pointer;
				padding: 0;
				transition: 0.5s color;
				font-size: 13px;

				&:hover {
					color: $gold;
				}
			}
		}
	}
}

.project {
	min-height: 548px;

	.project-name {
		.project-mobile-screenshot {
			display: none;
		}
	}

	.project-name.hide {
		display: none;
	}

	.project-detail {
	  position: relative;
	  margin-top: 20px;
	  background: white;
	  padding: 35px;

	  li {
		  margin-right: 5px;
		  font-weight: bold;
	  }
	}	

	.project-desc {
		line-height: 1.6;
		padding-bottom: 2rem;
	}

	img {
		width: 100%;
		// height: 250px;
		// margin-bottom: 1rem;
	}

	 .skill {
		span {
			font-size: 13px;
		}

		&:after {
			content: '/';
			display: inline-block;
			height: 5px;
			color: #adadad;
		}

		&:last-child:after {
			content: '';
		}
	}

	.skill-item {
		font-size: 12px;
		display: inline;
		color: #919090;
		font-weight: bold;
		padding: 2px 6px 0 0;
		text-transform: uppercase;	
		border-radius: 3px;
	}

	.button-group a {
		margin-right: 20px;
	}

	.button-group .demo {
		padding: 5px 20px;
		background: $main;
		color: white;
		transition: .5s background;

		&:hover {
			background: $gold;
		}
	}

	.bio {
		text-align: left;
		text-align: left;
		padding: 30px;
		background: white;

		.bio-skills {
			// margin: 2rem 0;

			li {
				display: block;
				margin-bottom: 0;
			}

			p {
				margin: 0;
			}
		}

		p {
			line-height: 1.6;
			margin-bottom: 1rem;
		}
	}
}

footer {
	img {
		height: 20px;
		width: auto;
		margin-right: 5px;
	}
}

.bio {
	margin-top: 20px;

	.about-me {
		margin-bottom: 20px;
	}
}

.bio-inner {
	img {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
		height: 350px;
		width: auto;
	}
}


@media only screen and (min-width: 800px) {
	body {
		text-align: initial;
		padding: 50px;
	}

	.project {
		min-height: 430px;
	}

	.profile {
		.profile-info {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
		}
	}	

	.project {
		.project-name {
			// display: flex;
			align-items: center;

			.project-images {
				display: flex;

				.project-desktop-screenshot,
				.project-mobile-screenshot {
					height: 356px;
					width: auto;
				}

				.project-mobile-screenshot {
					margin-left: 26px;
					display: inline-block;
				}
			}
		}  
	}

	.projects-nav {
		ul {
			display: flex;
			justify-content: center;
			// li:after {
			// 	content: '|';
			// 	display: inline-block;
			// 	position: absolute;
			// 	top: 38%;
			// 	color: #a1a1a1;
			// }
			
			li:last-child:after {
				content: '';
			}
		}
	}	

	.bio-inner {
		display: flex;
		
		img {
			margin-right: 30px;
		}
	}
}